*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: blueviolet !important;
}
a{
    padding: 10px;
    text-decoration: none !important;
    font-size: 20px;
    color: black !important;
    margin-left: 10px;
}
.nav :hover{
    color: slateblue !important;
}
.nav{
    float: right;
}
.logo{
    max-width: 60px;
}
footer{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    max-width: 90px;
   
}
.copyright{
    text-align: center;
    color: black;
}