*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: blueviolet !important;
}
a{
    padding: 10px;
    text-decoration: none !important;
    font-size: 20px;
    color: black !important;
    margin-left: 10px;
}
.nav :hover{
    color: slateblue !important;
}
.nav{
    float: right;
}
.logo{
    max-width: 60px;
}
img{
    max-width: 400px;
}
h1 + h2 + p{
    color: white;
}
.mx-lg-5{
    max-width: 205px;
    margin-top: 30px;
    float: left; 
}
.mx-lg-4{
    max-width: 200px;
    margin-top: 40px;
    float: left;
}
.footer{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    padding-right: 80px;
}
.nav-down{
    max-width: 100px;
    
}

.copyright{
    text-align: center;
    color: black;
}
